<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to my LinkToME</h1>
    <%= form_for(attachment) do |f| %>
        <div>
            <%= f.file_field :image %>
        </div>
        <div>
            <%= f.submit "Cambiar avatar" %>
        </div>

        <% end %>
</div>