<div class="d-flex align-items-center justify-content-center" >
    <div class="row justify-content-center bg-light">
    
        <div style="text-align: center">
            <%= link_to 'Create user', users_path, method: :get,  :class => "my-5 btn btn-info", 
            :style => "width: 80%; height: 50px; text-align: center; padding: 4px;" %>
        </div>
        
        <h1 class="my-5 text-center">List of all users</h1>
        <div class="row justify-content-center table-responsive">
            <table class="table table-bordered table-hover" style="width: 80%; margin:0;">
                <thead>
                    <tr class="table-active">
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">email</th>
                    <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                <% @users.each do |user| %>
                    <tr>
                    <th scope="row"><%= user.id %></th>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td>see, delete, edit</td>
                    </tr>
                    <tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>